body {
  background-color: #222;
  color: white;
}

.App {
  margin: 0 auto;
  width: 720px;
  /* border: 1px white solid; */
}

.header {
  width: 720px;
  text-align: center;
  border-bottom: 1px lightcyan solid;
}

.controls {
  margin-top: 11px;
  padding: 11px 0px;
  width: 720px;
  border-bottom: 1px lightcyan solid;
}

#paragrafs {
  width: 55px;
  height: 29px;
  font-size: 19px;
  border-radius: 5px;
}

.include-html-label {
  margin-left: 15px;
}

#include-html {
  width: 55px;
  height: 35px;
  font-size: 19px;
  border-radius: 5px;
}

label {
  font-size: 19px;
}

.generated-text {
  min-height: 35vh;
  margin-top: 15px;
  padding: 55px 15px;
  background-color: lightcyan;
  border-radius: 5px;
  font-size: 17px;
  color: black;
}